{% extends "base.html" %}

{% block title %}#{{ tag.name }} | {{ block.super }}{% endblock %}
{% block description %}「{{ tag.name }}」の投稿一覧ページです。{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <main class="col-md-8">
      <p class="btn btn-outline-secondary btn-floating btn-sm m-1" href="{% url 'blog:tag_post' tag.slug %}" role="button"><i class="fas fa-tags"> {{ tag.name }}</i></p>
      {% include "blog/snippets/main_post_list.html" %}
    </main>
    <aside class="col-md-4">
      {% include "blog/snippets/sidebar.html" %}
    </aside>
  </div>
</div>
{% endblock %}
